<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col" style="margin-top: 5em;">
      <h3 class="text-center">Forgot your password?</h3>
      <div class="d-flex justify-content-center" style="margin-top: 3em;">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="mb-2">
            <%= f.label "email:", class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %><br>
          </div>
          <div class="mb-2">
            <p><%= f.submit "Send me reset password instructions", class: "btn btn-outline-primary btn-sm" %></p>
          </div>
        <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>