<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col" style="margin-top: 5em;">
      <h3 class="text-center">Scam in:</h3>
      <div class="d-flex justify-content-center" style="margin-top: 3em;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-2">
            <%= f.label "emal:", class: "form-label"  %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="mb-2">
            <%= f.label "password:", class: "form-label"  %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="mb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "form-label" %>
            </div>
          <% end %>
          <div class="actions">
            <p><%= f.submit "Scam in", class: "btn btn-outline-primary btn-sm" %></p>
          </div>
        <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>