<div class="card", style="margin-top: 5em">
  <div class="card-body">
    <%= form_for(Post.new, url: posts_path(post))do |f| %>
      <form>
        <div class="mb-3">
          <b>
            <%= f.label "write new post here:", class: "form-label" %><br />
          </b>  
          <%= f.text_field :title, placeholder: "Post's title", class: "form-control mt-4" %>
        </div>

        <div class="mb-3">
          <%= f.text_area :body, placeholder: "write it here!", class: "form-control" %>
        </div>
          <%= f.submit "Post", class: "btn btn-outline-secondary btn-sm" %>
      </form>
    <% end %>
  </div>
</div>