<% if @user.posts.any? %>
  <h3>Posts:</h3>
<% end %>
<% @user.posts.each do |post| %>
  <ul>
    Post title: <strong><%= post.title %></strong>
  </ul>
  <ul>
    Body: <%= post.body %>
  </ul>
  <ul>
    <%= link_to "Delete post",
      post_path(id: post.id, user_id: params[:id]),
      data: { turbo_method: :delete },
      class: "btn btn-outline-primary btn-sm" %>
  </ul>
  <% post.post_comments.each do |post_comment| %>
  <ul>
    Author: <%= post_comment.user.name %>
  </ul>
  <ul>
    Comment: <%= post_comment.body %>
  </ul>
  <ul>
    <%= link_to "Delete comment", post_post_comment_path(post_id: post.id, id: post_comment.id), data: { turbo_method: :delete },
      class: "btn btn-outline-primary btn-sm" %>
  </ul>
  <% end %>
  <%= render "post_comments/post_comments_form", post: post %>
<% end %>

