<% if @user.posts.any? %>
  <h3 class="mb-5 text-center"><%= @user.name%>'s posts:</h3>
<% end %>
<% @user.posts.each do |post| %>
  <div class="card mb-3", style="max-width: 30rem; min-width: 30rem;">
    <div class="card-header">
      <h6><%= post.title %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <% if policy(post).destroy? %>
        <%= link_to "Delete post",
          post_path(id: post.id, user_id: params[:id]),
          data: { turbo_method: :delete },
          class: "btn btn-outline-secondary btn-sm float-end" %>
      <% end %>
    </div>

    <div class="card m-3">
      <% post.post_comments.each do |post_comment| %>
        <div class="card-header">
          <%= post_comment.user.name %>
        </div>
        <div class="card-body"> 
          <%= post_comment.body %>
          <% if policy(post_comment).destroy? %>
            <p><%= link_to "Delete comment", post_post_comment_path(post_id: post.id, id: post_comment.id),
              data: { turbo_method: :delete },
              class: "btn btn-outline-secondary btn-sm float-end" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <%= render "post_comments/post_comments_form", post: post %>
  </div>
<% end %>

